@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome </h1><h4> @User.Identity.Name</h4>
    <p>Learn about <a href="freecodespot.com/blog/">FreeCode Spot</a>.</p>
</div>
